
<nav class="d-flex  p-2 justify-content-between align-item-center">
    <div class="d-flex">
        <h3 class="mb-0"><a href="#">Noxe</a></h3>
    <ul class="list-unstyled ms-4 mt-2 mb-0 align-item-center  d-flex justify-content-around">
        <li>
            <a routerLink="/home" class="mx-2">Home</a>
        </li>
        <li>
            <a routerLink="/about" class="mx-2">About</a>
        </li>
        <li>
            <a routerLink="/contacts" class="mx-2">Contacts</a>
        </li>
        <li>
            <a routerLink="/gallery" class="mx-2">Gallery</a>
        </li>
        <li>
            <a routerLink="/movies" class="mx-2">Movies</a>
        </li>
        <li>
            <a routerLink="/moviedetails" class="mx-2">Moviedetails</a>
        </li>
        
        <li>
            <a routerLink="/tv" class="mx-2">Tv</a>
        </li>
        

    </ul>
    </div>
    <div class="d-flex">
        <div class="social-media">
            <i class="fab mx-2 fa-facebook"></i>
            <i class="fab mx-2 fa-instagram"></i>
            <i class="fab mx-2 fa-youtube"></i>
            <i class="fab mx-2 fa-spotify"></i>
            <i class="fab mx-2 fa-xbox"></i>
        </div>
        <ul class="list-unstyled mb-0  d-flex justify-content-around">
            <li class="mx-2">
                <a routerLink="/login">Login</a>
            </li>
            <li class="mx-2">
                <a routerLink="/register">Register</a>
            </li>
            <li class="mx-2">
                <a routerLink="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>